
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
}

#hero-section, #quote-section,#process-section,#offer-section,#customer-review, #service-header  {
padding:80px 0;
}


.main-header {
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 20px 5px;
}

.right-section {
  display: flex;
  align-items: center;
}

.right-section ul {
  list-style: none;
  display: flex;
}

.road-assistance {
  display: flex;
  padding-left: 20px;
  font-family: "Manrope";
  font-weight: 300;
  font-size: 13px;
}

.right-section ul li {
  margin-right: 20px;
}

.right-section ul li a {
  text-decoration: none;
  color: #000;
}

.right-section .navigation {
  border-right: 2px solid #ccc;
  font-family: "Manrope";
  font-weight: 500;
}

.road-assistance .icon {
  margin-right: 10px;
}

#hero-section .text-section{
  width:45%;
  font-family: "Manrope";
  font-weight: 700;
  font-style: bold;
}
.text-section h1{
  width:80.5%;
  margin-top:8rem;
  font-size:34px;

}
#hero-section .image-section {
  width: 55%;
  min-height: 65vh;
  padding: 25px;
}
.image{
  position:relative;
  width:120%;
  left:1rem;
}
.flex{
display:flex;
}
.time-section {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.text-section .image-box {
  width: 5%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-section .time-text {
  width: 95%;
}
.time-section img {
  width: 100%;
}

.light-grey {
  color: #939191;
}
.black{
color:#1E1B1B;
}
#quote-section{
background:#E2E6E9;
}
#quote-section .left-section, #quote-section .right-form-section{
width:45%;
}
#quote-section ul{
list-style:none;
}
#quote-section ul li{
margin-bottom:20px;
}
#quote-section .left-section h2{
margin-bottom:30px;
font-size:45px;
}
#quote-section .left-section .image-box{
width:5%;
margin-right:10px;
}
#quote-section .left-section .image-box img{
width:90%;
}
#quote-section .left-section .text-box{
width:65%;
}
#quote-section .left-section .text-box h5{
font-size:16px;
margin-bottom:5px;
}
.know{
text-decoration:none;
color:black;
}
#quote-section .left-section .text-box .know img{
width:25px; 
margin-left:10px;
}
#quote-section .right-form-section h3{
font-size:38px;
margin-bottom:20px;
}
#quote-section .right-form-section input{
width:100%;
height:45px;
margin-bottom:2px;
border:none;
}
input[type="text"]::placeholder{
padding:20px;
}

.orange-button{
  background: #FF6433;
  border:none;
  border-radius: 8px;
  padding: 16px 12px 16px 12px;
  font-size: 18px;
  margin-top: 35px;
  display: inline-block;
  color: #fff;
  text-decoration:none;
}
#process-section{
background:#fff;
}
#process-section .left-process{
width:70%;

}
#process-section .left-process h2{
  margin-bottom: 30px;
  font-size: 48px;
  margin-top:8rem;
  width: 70%;
}
#process-section .left-process p{
  font-size:18px;
  margin-bottom:5px;
  width:75%;
  font-weight: 600;
  line-height: 1.5rem;
}
#process-section .right-process{
  display: flex;
  width: 50%;
  
}
 .process-circle-section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
} 
.circle {
  aspect-ratio: 1;
  border-radius: 50%;
  background: #661CE7;
  color: #fff;

}
.process-circle {
  width: 3rem;
  position: relative;
}
.process-circle-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.process-circle::after {
  content: '';
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: rgba( 255,255,255, 0.24 );
  position: absolute;
  left: 25%;
  bottom: -25%;
}
.process-circle p{
  line-height: 3rem;
  text-align: center;
  font-size: 1.8rem;
}

.dotted-line{
  width: 0;
  height: 4.8rem;
  border: 1px dashed orangered;
} 

.process-text-section {
  --gap: 1rem;
  padding-left: 20px;
}

.process-text-group {
  --gap: 1rem;
  padding-top: .5rem;
}
.process-text-group h6{
  line-height: 3rem;
  font-weight: 600;
  letter-spacing: -0.03rem;
  font-size: 24px; 
}
.process-text-group p{
font-size: 1rem;
line-height: 2rem;
font-weight: 600;
font-size: 18px;
width: 80%;
}

#offer-section{
background:#F2F2F2;
}
.flex-offer {
  display: flex;
  justify-content: center;
}
#offer-section .offer-header p {
  font-size: 24px;
  text-align: center;
  font-family: "Manrope";
}
#offer-section .offer-header h2 {
  font-size: 54px;
  text-align: center;
  padding-bottom: 30px;
  font-weight: 400;
}
#offer-section .services-offered {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;   
}
#offer-section .services-offered img {
  width: 60%;
}
#offer-section .service-type {
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 180px;
  width: 180px;
  text-align: center;
  background-color: #FFFFFF;
  margin-right: 1%;
  margin-bottom: 1%;
  color: black;
}
#offer-section .service-type:hover{
  background-color: #FF6433;
  color: white;
  font-weight: bold;
}
#offer-section .service-type p{
  padding-top: 5px;
  font-family: "Manrope";
  align-self: center;
}
#offer-section .service-type.selected{
  background-color: #FF6433;
  color: white;
  font-weight: bold;
}
.learn-link{
  margin: auto;
  width: 65%;
  justify-content: flex-end;
  padding-top: 10px;
}
.learn-link a{
  text-decoration: none;
  font-family: "Manrope";
  color: black;
  font-size: 14px;
}
#contact{
  background-color: #f2f2f2;
}
.contact-bg-one{
  background-image: url(https://res.cloudinary.com/drctcmhrb/image/upload/v1650572179/Image_1_vbgewt.png);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 42vh;

}
.contact-bg-two{
  background-image: url(https://res.cloudinary.com/drctcmhrb/image/upload/v1650572187/ovGrEUgrkyE_okzv0a.png);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 42vh;
}
.contact-box{
  margin-left: 43%;
  background-color: #FF6433;
  width: 60%;
  height: 42vh;
}
.contact-text h4{
  padding-top: 65px;
  text-align: justify;
  margin: auto;
  width: 80%;
  font-size: 24px;
  color: white;
  font-family: "Manrope";
  letter-spacing: -0.03em;
}
.button {
  width: 65%;
  margin: 30px auto 0 auto;
}
.black-button {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 10px 15px;
  font-family: "Manrope";
}
.rating-attribute {
  justify-content: space-between;
  width: 80%;
  margin-bottom: auto;
}
.ratings {
  margin-top: 6%;
  padding-bottom: 60px;
}
.rating-number {
  font-size: 44px;
  font-weight: bold;
  color: #661CE7;
  font-family: "Manrope";
}
.ratings p{
  color: #1E1B1B;
  font-family: "Manrope";
  opacity: 0.7;
}
#brand{
  background-color:#FAFAFA; 
}
#brand .brand-header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#brand .brand-header h3{
  font-family: "Manrope";
  font-size: 40px;
 }
 #brand .brand-services{
   display: flex;
   flex-wrap: wrap;
 }
 #brand .brand-services .brand-image {
   width: 20%;
 }
 #brand .brand-services .brand-image img{
   width: 100%;
 }

 #customer-review{
  background: #F2F2F2;
  padding: 80px 0;
  min-height:100vh;
}
#customer-review h3{
text-align:center;
font-size:48px;
font-weight:700;
font-family:"Manrope";
color: #1E1B1B;
margin-bottom:70px;
}
#customer-review .reviews{
justify-content:space-between;
}
#customer-review .reviews .review-box{
background:white;
height:300px;
width:49%;
padding:40px;
}
#customer-review .reviews .review-box2{
  background:white;
  height:300px;
  width:49%;
  padding:40px;
  }

#customer-review .reviews .review-box p{
line-height:24px;
font-family:"Manrope";
letter-spacing: -0.03em;

}
.profile{
margin-top: 30px;
margin-bottom: 10px;
}
.profile img {
width:100%;  
}
#customer-review .reviews .review-text{
width:95%;
padding:10px;
}
#customer-review .reviews .review-text h5{
font-size: 24px;
}
#customer-review .reviews .review-text p{
font-size: 16px;
color: #939191;
}
#customer-review .bottom-lines{
width:100%;
justify-content:space-between;
margin-top: 10px;

}
#customer-review .bottom-lines .center-lines{
width:15%;
justify-self:center;
justify-content:center; 
padding-left:75px;
}

#customer-review .bottom-lines .center-lines span{
width:10px;
height:3px;
background:grey;
margin-right:5px;
margin-top:20px;
}
#customer-review .bottom-lines .center-lines .org{
  background:#FF6433;
}
.cir{
width:30px;
aspect-ratio:1;
border-radius:50%;
background-color:white;
margin-left: 5px;
}
.blk{
  background-color:black;
  color: #fff;
}

.cir p{
line-height:30px;
text-align:center;
padding-top: 7px;
}
#faq{
  background: #E2E6E9;
  padding: 80px 0;
  min-height:100vh;
}
.container2 {
  width: 60%;
  margin: 0 auto;
}
#faq h3{
  font-size:48px;
  text-align:center;
  font-family:"Manrope";
  padding-bottom:80px;
}
#faq .faq-box-one {
width:100%;
background-color:white;
justify-content:space-between;
align-items:center;
margin:5px;
padding:20px;
}
#faq .faq-text h6{
font-size:18px;
font-weight: 600;
font-family:"Manrope"
}
#faq .faq-box-one .faq-text p{
font-family:"Manrope";
line-height:20px;
font-size:14px;
color: #939191;
margin-top:7px;
width: 90%;
}

#faq .faq-box-two {
width:100%;
background-color:white;
justify-content:space-between;
align-items:center;
margin:5px;
padding:15px;
height:40px;
text-align:center;
}
#faq .faq-box-one .faq-pix img {
width:70%; 
margin-right: 20px;
}
#faq .faq-box-two .faq-pix img {
width:45%;  
}
#last-section{
background: #1E1B1B;
opacity: 0.98;
}

#last-section .last-section-body{
width:100%;
justify-content:space-between;
}
#last-section .last-section-left{
width:40%;
}
#last-section .last-section-left h3{
font-family:"Manrope";
font-size:40px;
color:#FFFFFF;
margin-top:85px;
margin-bottom:70px;
}
#last-section .last-section-left .flex-icons img{
margin-right:20px;

}
#last-section .last-section-right{
width:40%;
padding-top:90px;
}
#last-section .last-section-right .text-right{
padding-bottom:10%;
}
#last-section .last-section-right .text-right p{
font-family:"Manrope";
font-size:16px;
color:#FFFFFF;
Opacity:0.6;
}
#last-section .last-section-right .text-right h6{
font-family:"Manrope";
font-size:20px;
color:#FFFFFF;
margin-bottom:10px;
letter-spacing: -0.02em
}
#last-section .footer{
background:black;
width:100%;
justify-content:space-between;
align-items:center;
margin: 0 auto;
padding: 20px 120px;
Opacity:0.8;
}

#last-section .footer p{
color: #939191;
font-family:"Manrope";
font-size:13px;
width: 117%;
}
#last-section .footer-text ul {
  list-style: none;
  display: flex;
}
#last-section .footer-text{
  justify-content: center;
  font-family: "Manrope";
}

#last-section .footer-text ul li {
  margin-right: 15px;
  font-family:"Manrope";
  font-size:13px;
}
#last-section .footer-text ul li a {
  text-decoration: none;
  color:#FFFFFF;
}
.margin-top {
  margin-top: 150px;
}
/* services-page */
#service-header .header-image img{
  width: 76%;
}
#service-header .header-right{
  background: #1E1B1B;
  width:55%;
  margin-left:-45%;
  padding: 60px 0px 0px 50px;
  color: #F2F2F2;
  font-family: "Manrope";
  height: 412px;
}
#service-header .header-right h1{
  font-size: 50px;
}
#service-header .header-right p {
  font-size: 14px;
  line-height: 30px;
  width: 90%;
}
#Auto-Diagnostics {
  padding: 80px 0;
  background: #F5F5F5;
}

#Auto-Diagnostics .Auto-left {
  width: 50%;
  min-height: 100vh;
}
#Auto-Diagnostics .Auto-left {
  background: #FFFFFF;
}
#Auto-Diagnostics .Auto-left .Auto-image img {
  width: 98%;
  padding: 20px;
}
#Auto-Diagnostics .Auto-text {
  padding: 20px;
}
#Auto-Diagnostics .Auto-text h2 {
  font-size: 30px;
  font-family: "Manrope";
  margin-bottom: 20px;
}
#Auto-Diagnostics .Auto-text p {
  font-size: 20px;
  line-height: 34px;
  font-family: "Manrope";
  margin-bottom: 10px;
  width: 90%;
  color: #232536;

}
.justify-content{
  justify-content: space-between;
}
#Auto-Diagnostics .Auto-left a {
  text-decoration: none;
  font-family: "Manrope";
  color: black;
  font-size: 18px;
  padding: 20px;
  font-family: "Manrope";
  font-weight: 600;
}
#Auto-Diagnostics .Auto-right{
  display: flex;
  flex-wrap: wrap;
  margin-right: 100px;
  width: 50%;
  justify-content: center;

}
#Auto-Diagnostics .Auto-right .Auto-type{
  width: 40%;
  text-align: center;
  justify-content: center;
  background-color: white;
  padding: 40px;
  margin: 10px; 
}
#Auto-Diagnostics .Auto-right .Auto-type p{
  font-family: "Manrope";
  padding-top: 20px;
}
#Auto-Diagnostics .Auto-type:hover{
  background-color: #FF6433;
  color: white;
  font-weight: bold;
}
#Auto-Diagnostics .Auto-type.chosen{
  background-color: #FF6433;
  color: white;
  font-weight: bold;
}
#work-section{
  padding: 80px 0;
}
#work-section .work-left, #work-section .work-right {
  width: 50%;
}
#work-section h3{
  padding-bottom: 30px;
  font-size: 42px;
  font-family: "Manrope";
}
.work-group{
  display: flex;
  padding-bottom: 30px;
}
.work-group p{
  font-size: 15px;
  font-family: "Manrope";
  width: 70%;
  
}
.green {
  aspect-ratio: 1;
  border-radius: 50%;
  background: #00D289;
  color: #fff;
}
.good-circle {
  width: 2rem;
  position: absolute;
}
.good-circle p{
  line-height: 2rem;
  text-align: center;
  font-size: 1.3rem;
}
.work-text{
  padding:0px 0px 0px 50px;
}
.work-right img {
  width: 95%;
}
#car-problems{
  padding: 80px 0;
  min-height: 100vh;
}
#car-problems .cars, #car-problems .cars-text{
  width: 50%;
}

.cars img{
  width: 95%;
}
.cars-text{
  width: 50%;
  padding-left: 20px;
}
.cars-text h3{
  font-size: 40px;
  width: 105%;
  font-family: "Manrope";
}
.cars-text p{
  font-size: 13px;
  line-height: 28px;
  font-family: "Manrope";
  color: #232536;
  padding-top: 20px;
}

/* Tab view */
@media (max-width:769px){
  .right-section ul {
    padding-left: 18px;
  }
  .right-section .navigation {
    border-right: none;
  }
  .road-assistance {
    display: none;
  }
  .image {
    width: 165%;
    left: -6rem;
  }
  .text-section h1 {
    margin-top: 5rem;
    font-size: 23px;
  }
  #hero-section {
    padding: 60px 0px;
  }
  #quote-section .left-section h2, #quote-section .right-form-section h3 {
    font-size: 30px;
  }
  #quote-section .left-section, #quote-section .right-form-section {
    width: 50%;
  }
  #process-section .left-process {
    width: 50%;
  }
  #process-section .left-process h2, #process-section .left-process p, .process-text-group p, .rating-attribute {
    width: 100%;
  }
  #process-section .left-process h2{
    font-size: 40px;
  }
  #process-section .left-process p, .process-text-group p{
    font-size:14px;
  }

  #offer-section .service-type {
    width: 158px;
  }
  .contact-bg-one{
    width: 60%;
  }
  .contact-box{
    width: 57%;
    font-size: 10px;
  }
  .contact-text h4{
    font-size: 20px;
  }
    
  .contact-text h4, #customer-review h3 {
    padding-top: 30px;
  }
  #customer-review .reviews .review-box {
    height: 272px;
    padding: 20px;
  }
  #customer-review .reviews .review-box p{
    font-size: 12px;
  }
  #customer-review .bottom-lines .center-lines {
    width: 36%;
  }
  #faq .faq-box-one .faq-pix img {
    width: 50%;
    margin-right: 2px;
    margin: 0px 35px 0px 14px;
}

#faq .faq-box-one .faq-text p {
  font-size: 12px;
}

  #last-section .footer {
    padding-inline-end: 47px;
  }
  #last-section .footer .footer-logo img {
    padding-left:0px ;
    margin-left: -42px;
  }
  #last-section .footer p {
    width: 100%;
  }
  #service-header .header-right {
    height: 315px;
    padding: 20px 0px 0px 35px;
  }
  #service-header .header-right h1 {
    font-size: 30px;
  }
  #service-header .header-right p{
    font-size: 11px;
    line-height: 25px;
  }
  #Auto-Diagnostics {
    width: 120%;
  }
  #Auto-Diagnostics .Auto-left {
    width: 50%;
  }
  #Auto-Diagnostics .Auto-right {
    width: 70%;
  }
  #Auto-Diagnostics .Auto-right .Auto-type {
    width: 42%;
    padding: 6px;
    margin: 10px;
    height: 170px;
  }
  #Auto-Diagnostics .Auto-right .Auto-type img {
    margin: 12px;
  }
  #Auto-Diagnostics .Auto-text p {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 0%;
  }
  #Auto-Diagnostics .Auto-left a {
    font-size: 12px;
  }
  #work-section h3 {
    padding-bottom: 12px;
    font-size: 22px;
  }
  .work-group p {
    font-size: 13px;
    width: 100%;
  }
  .cars, .cars-text {
    width: 100%;
  }
  .cars-text h3 {
    font-size: 18px;
  }
  .cars-text p {
    font-size: 12px;
    margin-top: -16px;
    margin-bottom: -25px;
    line-height: 21px;
  }

}
/* mobile view */
@media (min-width:320px) and (max-width:425px){
  .main-header{
    flex-direction: column;
    align-items:flex-start;
  }
  .right-section{
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
    display: none;
  }
  .right-section .navigation ul{
    flex-direction: column;
  }
  .right-section .navigation{
    border: none;
    width: 100%;
  }
  .right-section ul li{
    padding: 10px 0;
    margin-right: 0;
  }
  .right-section ul li a {
   display: block;
  }
  .road-assistance {
   padding: 10px 0;
  }
  .flex-sm-column {
   flex-direction: column;
  }
  #hero-section .text-section, #hero-section .image-section{
   width: 100%; 
  }
  .time-section img {
    width: 150%;
  }

  #hero-section .text-section{
    order: 2;
  }
  #hero-section .image-section{
    order: 1;
  }
 .text-section h1{
   font-size: 30px;
   margin-top: 0rem;
   width: 100%;
 }
  #quote-section .left-section, #quote-section .right-form-section {
  width: 100%;
  }
  #process-section .left-process {
  width: 100%;
  }
  #quote-section .left-section .image-box{
    width: 10%;
  }
  #quote-section .left-section{
    margin-bottom: 30px;
    width: 100%;
  }
  #quote-section .left-section h2, #quote-section .right-form-section h3 {
    font-size: 25px;
  }

  #process-section .right-process {
    width: 100%;
  }
  #process-section .left-process h2, #process-section .left-process p {
    width: 100%; 
  }
  #process-section .left-process {
    margin-bottom: 30px;
    margin-top: -130px;
  }

  .process-circle-group {
    margin:14px 0px -32px 0px;
  }
  .process-circle {
    width: 2rem;
  }
  .process-circle p{
    line-height: 2rem;
    text-align: center;
    font-size: 1.5rem;
  }
  
  .process-text-group h6 {
    font-size: 16px;
  }
  .process-text-group p {
    width: 100%;
    font-size: 13px; 
    line-height: 20px;
  }
  #offer-section .offer-header p {
    font-size: 34px;
  }
  #offer-section .offer-header h2 {
    font-size: 30px;
    padding-top: 20px;
    width: 100%;
  }
  #offer-section .service-type {
    width: 125px;
    height: 120px;
    margin-right: 3%;
    margin-bottom: 3%;
    padding: 28px;
  }
  #offer-section .services-offered img {
    width: 45%
  }
  #offer-section .service-type p{
    padding-top:0px ;
    font-size: small;
  }
  .learn-link {
    justify-content: center;
  }
  .contact-bg-one{
    width: 75%;
  }
  .contact-box{
    width: 60%;
    font-size: 5px;
  }
  .contact-text h4 {
    padding-top: 20px;
    text-align: left;
    font-size: 16px;
  }
  .black-button {
    padding: 7px 7px;
    font-size: 8px;
  }
  .ratings {
    width: 90%;
  }
  .rating-number {
    font-size: 15px;
  }
  .ratings p {
    font-size: 9px;
    padding-right: 15px;

  }
  .rating-attribute {
    width: 120%;
    padding-right: -3px;
    margin-left: 2px;
  }
  #brand .brand-header h3{
    font-size: 30px;
  }
  #brand .brand-services .brand-image img {
    width: 120%;
  } 
  #customer-review h3 {
    font-size: 35px;
  }
  #customer-review .reviews .review-box {
    width: 100%;
    padding: 15px;
    padding-top: 3px;
    margin-bottom: 8px;
  }
  #customer-review .reviews .review-box p {
    font-size: 10px;
  }
  #faq h3 {
    font-size: 30px;
    padding-bottom: 30px;
  }
  .container2 {
    width: 80%;
  }
  #faq .faq-text h6 {
    font-size: 12.5px;
  }
  #faq .faq-box-one .faq-text p {
    font-size: 10px;
  }
  #faq .faq-box-one .faq-pix img {
    width: 60%;
  }
  #last-section .footer {
    padding: 6px 15px
  }
  #last-section .last-section-left h3 {
    font-size: 15px;
  }
  #last-section .last-section-left .flex-icons img {
    margin-right: 10px;
  }
  #last-section .last-section-right {
    width: 43%;
    padding-top: 83px;
  }
  #last-section .last-section-right .text-right h6 {
    font-size: 14px;
    margin-bottom: 4px;
  }
  #last-section .footer-text {
    margin-left: -45px;
  }
  #last-section .footer-text ul li {
    margin-right: 6px;
    font-size: 8px;
  }
  #last-section .footer .footer-logo{
    padding-left: 50px;
  }
  #last-section .footer .footer-logo img {
    width: 80%;
  }
  #last-section .footer p {
    font-size: 7px;
  }
  #service-header .header-image img {
    width: 100%;
  }
  #service-header .header-right  {
    margin-left: 3px;
    width: 100%;
  }
  #Auto-Diagnostics .Auto-left,  #Auto-Diagnostics .Auto-right{
    width: 90%;
  }
  #work-section .work-left, #work-section .work-right{
    width: 100%;
  }
  .cars-text h3 {
    margin-top: 15px;
  }
  .cars-text p {
    margin: -10px 0px -10px 0px;
  }

  

}

 